[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "RcppCGAL"]
	path = RcppCGAL
	url = https://github.com/ericdunipace/rcppcgal
[submodule "causalOT"]
	path = causalOT
	url = https://github.com/ericdunipace/causalot
